.idea
nbproject
/application/configs/app.*.php
!/application/configs/app.*.sample.php
/data/*
/data/*/*
!/data/*/
!/data/*/.keep
/data/locale/default.mo

/public/.htaccess
!.stub
composer.lock
composer.phar
/vendor/*

/public/uploads/tracks/*
!/public/uploads/tracks/.keep
